.h-center {
    display: flex;
    align-items: center;
}
  
.v-center {
    display: flex;
    justify-content: center;
}
  
.vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.column-space-between{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.column-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-center{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center; 
}
  

.t-border{
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 200%;
        height: 1px;
        background-color: red;
        transform-origin: left top;
        transform: scale(0.5);
    }
}

.b-border{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        bottom:0;
        left:0;
        width: 200%;
        height: 1px;
        background-color: red;
        transform-origin: left bottom;
        transform: scale(0.5);
    }
}

.l-border{
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 1px;
        height: 200%;
        background-color: red;
        transform-origin: left top;
        transform: scale(0.5);
    }
}

.r-border{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top:0;
        right:0;
        width: 1px;
        height: 200%;
        background-color: red;
        transform-origin: right top;
        transform: scale(0.5);
    }
}

.all-border{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 200%;
        height: 200%;
        box-sizing: border-box;
        transform-origin: left top;
        transform: scale(0.5);
        border:1px solid red;
    }
}