.t-border{
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 200%;
        height: 1px;
        background-color: red;
        transform-origin: left top;
        transform: scale(0.5);
    }
}

.b-border{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        bottom:0;
        left:0;
        width: 200%;
        height: 1px;
        background-color: red;
        transform-origin: left bottom;
        transform: scale(0.5);
    }
}


.all-border{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 200%;
        height: 200%;
        transform-origin: left top;
        transform: scale(0.5);
        border:1px solid red;
    }
}